:root {
    --primary-bg: #edece2;

    /* Primary кнопки */
    --button-primary-default-bg: #560300; /* Основной фон */
    --button-primary-hover-bg: #4b0300; /* Фон при наведении */
    --button-primary-active-bg: #750400; /* Фон при нажатии */
    --button-primary-disabled-bg: #949494; /* Фон в отключенном состоянии */
    --button-primary-default-text: #ffffff; /* Текст по умолчанию */
    --button-primary-hover-text: #ffffff; /* Текст при наведении */
    --button-primary-active-text: #ffffff; /* Текст при нажатии */
    --button-primary-disabled-text: #a0a0a0; /* Текст в отключенном состоянии */

    /* Secondary кнопки */
    --button-secondary-default-bg: transparent; /* Второстепенный фон */
    --button-secondary-hover-bg: transparent; /* Фон при наведении */
    --button-secondary-active-bg: transparent; /* Фон при нажатии */
    --button-secondary-disabled-bg: transparent; /* Фон в отключенном состоянии */
    --button-secondary-default-text: #560300; /* Текст по умолчанию */
    --button-secondary-hover-text: #4b0300; /* Текст при наведении */
    --button-secondary-active-text: #750400; /* Текст при нажатии */
    --button-secondary-disabled-text: #949494; /* Текст в отключенном состоянии */

    :root {
        /* Secondary button borders */
        --button-secondary-default-border: 1px solid #560300; /* Default border */
        --button-secondary-hover-border: 1px solid #4b0300; /* Hover border */
        --button-secondary-active-border: 1px solid #750400; /* Active border */
        --button-secondary-disabled-border: 1px solid #949494; /* Disabled border */
    }
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/gt-walsheim/GT-Walsheim-Medium-Trial.otf') format('opentype');
    font-weight: 500; /* Medium обычно соответствует 500 */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800; /* ExtraBold */
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: italic;
}

@font-face {
    font-family: 'TenorSans';
    src: url('../fonts/tenor/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/liberation-sans/LiberationSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/liberation-sans/LiberationSans-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/liberation-sans/LiberationSans-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/liberation-sans/LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edece2;
    padding: 36px 140px 0;
}

main {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: relative;
}

.header__logo {
    display: block;
}

.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 16px;
}

.header__menu a {
    text-decoration: none;
    color: #2f2e2e;
    font-size: 18px;
    transition: color 0.2s;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 7px;
}

.btn {
    background: none;
    border: none;
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 999px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 24px;
    font-size: 18px;
}
.btn--primary {
    background-color: var(--button-primary-default-bg);
    color: var(--button-primary-default-text);
}
.btn--primary:hover {
    background-color: var(--button-primary-hover-bg);
}
.header__phone {
    text-decoration: none;
    font-size: 20px;
    color: #a31f1a;
}
.header__favourites {
    background: none;
    border: none;
    margin: 0 0 0 10px;
    font: inherit;
    color: inherit;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    display: flex;
    align-items: center;
}
button.header__choose:hover {
    background-color: var(--button-primary-hover-bg);
}
main {
    width: 100%;
}
.main__promo {
    position: relative;
    width: 100%;
    background-image: url('../images/panorama.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1680 / 914;
    border-radius: 36px;
    margin-top: 112px;
    background-color: rgba(0, 0, 0, 0.57);
    min-height: 696px;
}
.main__promo-overlay {
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    z-index: 1;
}
.main__promo-text {
    color: #ffe7d6;
    font-size: 64px;
    font-family: 'TenorSans', sans-serif;
    z-index: 2;
    text-transform: uppercase;
    padding-right: 16px;
}
.main__promo-badges {
    display: flex;
    align-items: center;
    column-gap: 28px;
    flex-wrap: wrap;
    padding-right: 16px;
    row-gap: 8px;
    margin-bottom: 50px;
}
.main__promo-badge {
    font-family: 'LiberationSans', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    line-height: 22px;
    padding: 9px 16px;
    background-color: #7f7f84;
    backdrop-filter: blur(31px);
    border-radius: 1204px;
}
.main__promo-badge-dot {
    width: 10px;
    height: 10px;
    background-color: #4756ab;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.main__promo-badge-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.main__promo-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    padding-right: 16px;
}
.main__promo-subtitle {
    color: #eddcca;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    padding-right: 16px;
}
.main__promo-link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 12px 24px;
    display: inline-block;
    background-color: rgba(22, 22, 22, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 999px;
}
.main__promo-info {
    position: absolute;
    z-index: 2;
    color: #ffe7d6;
    display: flex;
    width: calc(100% - 60px);
    left: 30px;
    top: 75%;
    text-transform: uppercase;
    height: 22%;
    justify-content: flex-start;
    overflow: hidden;
}
.main__promo-description {
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 30px;
}
.main__promo-info-swiper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    gap: 22px;
}
.main__promo-info-item {
    padding: 24px;
    background-color: rgba(67, 65, 65, 0.61);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.main__promo-info-badge {
    font-size: 24px;
    font-family: 'GTWalsheim', sans-serif;
    background-color: rgba(22, 22, 22, 0.4);
    backdrop-filter: blur(25px);
    padding: 8px 16px;
    border-radius: 999px;
}
.main__promo-info-text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.main__promo-info-dot {
    background-color: #4b4d4e;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.main__promo-info-dot--active {
    background-color: #ffe7d6;
}
.main__about {
    margin-top: 148px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}
.main__about-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main__about-swiper-wrapper {
    width: calc(100vw - 556px);
    position: relative;
    margin-top: 64px;
}
.main__about-button-prev,
.main__about-button-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 110px;
    height: 110px;
    border: 1px solid #636466;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__about-button-prev {
    left: -150px; /* сдвиг влево за пределы слайдера */
}

.main__about-button-next {
    right: -150px; /* сдвиг вправо за пределы слайдера */
}
.main__about-swiper .swiper-slide {
    height: 556px;
}
.main__about-slide-item {
    position: relative;
    height: 100%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main__about-slide-item--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.main__about-slide-item--architecture {
    background-image: url('../images/decisions.jpg');
    background-size: cover;
    background-position: center;
}
.main__about-slide-item--parking {
    background-image: url('../images/parking.png');
    background-size: cover;
    background-position: center;
}
.main__about-slide-item--lobby {
    background-image: url('../images/design-lobby.png');
    background-size: cover;
    background-position: center;
}
.main__about-slide-text {
    font-size: 40px;
    font-family: 'TenorSans', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}
.main__about-title {
    font-size: 53px;
    text-transform: uppercase;
    font-family: 'TenorSans', sans-serif;
    max-width: 788px;
}
.main__about-description {
    max-width: 600px;
    color: var(--button-secondary-default-text);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.main__about-dot {
    background-color: #cac9c1;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.main__about-dot--active {
    background-color: var(--button-primary-default-bg);
}
.main__about-pagination {
    margin-top: 24px;
    text-align: center;
    bottom: -20px !important;
    display: none;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
}
.header__burger.hidden {
    visibility: hidden;
}
.header__burger-line {
    width: 100%;
    height: 3px;
    background: #560300;
}

.header__close {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}
.header__logo-mobile {
    display: none;
}
.header__signup-btn {
    display: none;
}

.header__phone-mobile {
    display: none;
    font-family: 'TenorSans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 400;
}
.header__mobile-address {
    color: #fff;
    font-size: 12px;
    width: 234px;
    margin-bottom: 40px;
    margin-left: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    display: none;
    font-weight: 500;
}
.header__mobile-office {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: none;
}
.main__profit-calc {
    margin-top: 130px;
}
.main__profit-calc-title,
.main__gallery-title {
    font-size: 53px;
    font-family: 'TenorSans', sans-serif;
    text-transform: uppercase;
}
.main__profit-calc-content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 64px;
}
.main__profit-calc-form,
.main__profit-calc-result {
    min-width: 320px;
    padding: 60px 94px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc((100% - 30px) / 2);
    border-radius: 36px;
    border: 1px solid #560300;
}

.main__profit-calc-slider label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #2f2e2e;
}
.main__profit-calc-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}
.main__profit-calc-value {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 30px;
    font-family: 'TenorSans', sans-serif;
    color: #560300;
}
.custom-slider {
    position: relative;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-slider__track {
    width: 100%;
    height: 4px;
    background: #aeaeae;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.custom-slider__track-filled {
    height: 4px;
    background: #560300;
    border-radius: 2px;
    width: 0;
}

.custom-slider__thumb {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #560300;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    z-index: 2;
}

.custom-slider__thumb:active {
    cursor: grabbing;
}

.main__profit-calc-slider input[type='range'] {
    display: none;
}

.main__profit-calc-btn {
    padding: 12px 24px;
    background: #560300;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.main__profit-calc-result-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.main__profit-calc-result-row:last-child {
    border-bottom: none;
}
.main__profit-calc-result-value {
    font-size: 53px;
    font-family: 'TenorSans', sans-serif;
    color: var(--button-secondary-default-text);
}
.main__profit-calc-result-label {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    margin-bottom: 12px;
}
.main__profit-calc-result-note {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 16px;
    color: #999892;
    width: 168px;
}
.main__gallery {
    margin-top: 64px;
    margin-bottom: 64px;
}

.main__gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.main__gallery-filters {
    display: flex;
    gap: 16px;
}
.main__gallery-filters::-webkit-scrollbar {
    display: none;
}
.main__gallery-filter-btn {
    padding: 8px 28px;
    border: 1px solid #686868;
    background: none;
    color: #686868;
    border-radius: 24px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}
.main__gallery-filter-btn:hover {
    background-color: var(--button-secondary-hover-text);
    color: var(--button-primary-hover-text);
}
.main__gallery-filter-btn--active {
    background: var(--button-secondary-default-text);
    color: #fbf9ed;
    border: none;
}
.main__gallery-slider-wrapper {
    position: relative;
    margin-bottom: 32px;
}

.main__gallery-slider {
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}
.main__gallery-slider .swiper-slide {
    height: 534px;
}
.main__gallery-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.main__gallery-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}

.main__gallery-pagination-btn {
    width: 68px;
    height: 68px;
    border: 1px solid #636466;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
        border-color 0.2s,
        background 0.2s;
    padding: 0;
}

.main__gallery-pagination-btn:active {
    background: #f5f5f5;
    border-color: #560300;
}

.main__gallery-pagination-dots {
    display: flex;
    gap: 8px;
}

.main__gallery-pagination-dots .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #636466;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.2s;
}

.main__gallery-pagination-dots .swiper-pagination-bullet-active {
    opacity: 1;
    background: #560300;
}
.main__gallery-pagination-dots {
    display: none;
}
.main__gallery-pagination-btn--next svg {
    transform: rotate(180deg);
}
@media (max-width: 1919px) {
    body {
        padding: 36px 36px;
    }
    .main__promo-text {
        font-size: 58px;
    }
    .main__about-title {
        font-size: 44px;
        max-width: 614px;
    }
    .main__about-description {
        max-width: 600px;
        font-size: 20px;
    }

    .main__about-slide-text {
        font-size: 30px;
    }
    .main__about-button-prev,
    .main__about-button-next {
        width: 70px;
        height: 70px;
    }
    .main__about-button-prev {
        left: -130px;
    }
    .main__about-button-next {
        right: -130px;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 346px);
    }
    .main__profit-calc-title,
    .main__gallery-title {
        font-size: 44px;
    }
    .main__profit-calc-result,
    .main__profit-calc-form {
        padding: 30px 54px;
    }
    .main__profit-calc-result-value {
        font-size: 38px;
    }
    .main__profit-calc-result-label {
        font-size: 20px;
    }
}

@media (max-width: 1447px) {
    .main__promo {
        margin-top: 62px;
    }
    .header__phone-mobile {
        display: block;
        position: absolute;
        bottom: 64px;
        left: 20px;
    }
    .header__mobile-address {
        display: block;
        position: absolute;
        bottom: 104px;
        left: 10px;
    }
    .header__mobile-office {
        display: block;
        position: absolute;
        bottom: 174px;
        left: 10px;
    }
    .main__promo {
        background-size: cover;
        background-position: 40% top;
    }
    .main__promo-text {
        font-size: 46px;
    }
    .main__promo-subtitle {
        font-size: 32px;
    }
    .main__promo-info-badge,
    .main__promo-info-text {
        font-size: 20px;
    }
    .main__promo-badges {
        margin-bottom: 20px;
    }
    .main__about,
    .main__profit-calc {
        margin-top: 80px;
    }
    .main__about-title {
        font-size: 34px;
        max-width: 514px;
    }
    .main__about-description {
        max-width: 500px;
        font-size: 16px;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 290px);
    }
    .main__about-swiper .swiper-slide {
        height: 440px;
    }
    .main__about-slide-text {
        font-size: 26px;
    }
    .main__about-button-prev,
    .main__about-button-next {
        width: 60px;
        height: 60px;
    }
    .main__about-button-prev {
        left: -100px;
    }
    .main__about-button-next {
        right: -100px;
    }
    .header__mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 390px;
        height: 100%;
        background: #560300;
        flex-direction: column;
        padding: 100px 10px 10px;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        z-index: 999;
    }

    .header__mobile-menu.active {
        display: flex;
        right: 0;
    }

    .header__mobile-menu.active .header__close {
        display: block;
    }

    .header__mobile-menu.active .header__menu a {
        color: #fff;
    }
    .header__mobile-menu.active .header__logo-mobile {
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 1001;
    }
    .header__mobile-menu.active .header__signup-btn {
        display: block;
        width: 370px;
        height: 36px;
        background: #fff;
        color: #2f2e2e;
        font-size: 14px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 10px;
        z-index: 1001;
        border-radius: 36px;
    }
    .header__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__menu li {
        margin: 8px 0;
    }

    .header__menu a {
        font-size: 16px;
    }

    .header__burger {
        display: flex;
        position: relative;
        order: 3;
    }
    .header__mobile-menu.active .header__burger {
        display: none;
    }
    .header__mobile-menu.active .header__signup-btn:hover {
        color: #2f2e2e;
        background-color: #f9f4f4;
    }
    .main__profit-calc-value {
        font-size: 22px;
        top: 0;
    }
    .main__profit-calc-slider label {
        font-size: 14px;
    }
    .main__profit-calc-title,
    .main__gallery-title {
        font-size: 34px;
    }
}

@media (max-width: 1279px) {
    .main__promo-info-item {
        padding: 16px;
    }
    .main__about-title {
        font-size: 28px;
        max-width: 414px;
    }
    .main__about-description {
        max-width: 400px;
        font-size: 14px;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 450px);
    }
    .main__about-button-prev {
        left: -84px;
    }
    .main__about-button-next {
        right: -84px;
    }
    .main__profit-calc-result,
    .main__profit-calc-form {
        padding: 30px 30px;
    }
    .main__profit-calc-result-value {
        font-size: 32px;
    }
    .main__profit-calc-result-label {
        font-size: 18px;
    }
    .main__profit-calc-result-note {
        font-size: 14px;
        width: 138px;
    }
    .main__profit-calc-title,
    .main__gallery-title {
        font-size: 28px;
    }
}

@media (max-width: 1023px) {
    body {
        padding: 20px 10px;
    }
    .main__promo-text {
        font-size: 40px;
    }
    .main__promo-subtitle {
        font-size: 28px;
    }
    .main__promo-info {
        width: calc(100% - 30px);
    }

    .main__promo-badges,
    .main__promo-actions,
    .main__promo-info,
    .main__promo-description {
        left: 16px;
    }
    .btn,
    .main__promo-link {
        font-size: 14px;
        padding: 8px 20px;
    }
    .main__promo-badge {
        font-size: 14px;
        padding: 6px 12px;
    }
    .main__promo-badge-dot {
        width: 8px;
        height: 8px;
        margin-right: 6px;
    }
    .main__promo-badge-img {
        margin: 0 6px;
    }
    .main__promo-badge-img img {
        width: 10px;
        height: 15px;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 270px);
    }
    .main__profit-calc-content {
        margin-top: 32px;
    }
    .main__gallery-pagination-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0;
    }
    .main__gallery-pagination-btn {
        display: none;
    }
}

@media (max-width: 967px) {
    .main__promo-info-badge {
        font-size: 16px;
    }
    .main__about-content {
        flex-direction: column;
    }
    .main__about-title {
        max-width: max-content;
        width: 100%;
        font-size: 24px;
    }
    .main__profit-calc-title,
    .main__gallery-title {
        font-size: 24px;
    }
    .main__about-description {
        max-width: max-content;
        width: 100%;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 240px);
    }
    .main__about-button-prev {
        left: -94px;
    }
    .main__about-button-next {
        right: -94px;
    }
    .main__profit-calc-result-note {
        position: static;
        width: auto;
    }
    .main__profit-calc-value {
        font-size: 18px;
        top: 0;
    }
    .main__profit-calc-slider label {
        font-size: 14px;
    }
    .main__gallery-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
}

@media (max-width: 920px) {
    .main__promo-info {
        height: 26%;
        top: 73%;
    }
    .main__promo-info-item {
        height: 86%;
    }
}

@media (max-width: 847px) {
    .main__about-swiper-wrapper {
        width: calc(100vw - 440px);
    }
    .main__profit-calc-content {
        flex-direction: column;
        row-gap: 16px;
    }
    .main__profit-calc-form,
    .main__profit-calc-result {
        width: 100%;
    }
    .main__profit-calc-form {
        gap: 12px;
    }
}
@media (max-width: 795px) {
    header {
        padding: 0;
    }
    .main__promo {
        margin-top: 32px;
    }
    .main__about-swiper-wrapper {
        width: calc(100vw - 380px);
    }
    .header__favourites,
    .header__phone {
        display: none;
    }
    .header__logo svg {
        width: 127px;
        height: 27px;
    }
    .main__gallery-slider .swiper-slide {
        height: 448px;
    }
    .main__gallery-filters {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 679px) {
    .main__about-swiper-wrapper {
        width: calc(100vw - 320px);
    }
}
@media (max-width: 619px) {
    .main__about-swiper-wrapper {
        width: calc(100vw - 250px);
    }
    .main__about-swiper .swiper-slide {
        height: 395px;
    }
    .main__profit-calc-value {
        font-size: 14px;
        top: 0;
    }
    .main__profit-calc-slider label {
        font-size: 12px;
    }
    .main__profit-calc-result-label,
    .main__profit-calc-result-note {
        font-size: 12px;
    }
    .main__gallery-slider .swiper-slide {
        height: 348px;
    }
}
@media (max-width: 526px) {
    .main__about-swiper-wrapper {
        width: 100%;
    }
    .main__about-button-prev,
    .main__about-button-next {
        display: none;
    }
    .main__about-pagination {
        display: block;
    }
    .header__choose {
        font-size: 12px;
    }
    .header__burger {
        width: 26px;
    }
    .main__profit-calc-btn {
        width: 100%;
        font-size: 14px;
    }
    .main__gallery-slider .swiper-slide {
        height: 248px;
    }
    .main__gallery-filter-btn {
        font-size: 12px;
    }
    .main__gallery-header {
        margin-bottom: 24px;
    }
}
@media (max-width: 711px) {
    .main__promo-text {
        font-size: 30px;
    }
    .main__promo-subtitle {
        font-size: 18px;
    }
    .main__about {
        margin-top: 48px;
    }
}
@media (max-width: 543px) {
    .main__promo-text {
        font-size: 24px;
    }
    .main__promo-subtitle {
        font-size: 12px;
    }
}

@media (max-width: 398px) {
    .main__promo-actions {
        flex-direction: column;
    }
    .main__promo-btn,
    .main__promo-link {
        width: 100%;
    }
    .main__promo-link {
        text-align: center;
    }
}
